body, html{
    background-color: aqua;
}

#whatToPrint {
    padding: 10px;
    background-color: rgb(255, 252, 249);
    color: black;
    width: 100vw;
    height: 100%;
}

.btnPdf{
    text-align: center;
}

a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

h1{
    text-align: center;
    background-color: red;
}

.first, .second, .thirth, .four{
    height: 300px;
}

.firstItens, .secondItens, .thirthItens, .fourItens{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}